{% comment %} <h1>Dejan's First Store</h1>
<h2>When are you coming</h2>
<p>Do you love travelling </p>
<img src="https://thumbs.dreamstime.com/b/happy-golden-retriever-puppy-seven-week-old-outdoors-sunny-day-46046484.jpg"/> {% endcomment %}